body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding:3px;
    border: 1px solid black;
}

th {
    background-color: green;
}

.scatterplot circle:hover {
    stroke: black;
    stroke-width: 1;
    z-index: 500;
}


.axis line, .axis path{
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.tooltip {
    position: absolute;
    background: white;
    border: 1px solid black;
    color: black;
    padding: 3px;
}

