body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding:3px;
    border: 1px solid black;
}

th {
    background-color: green;
}

svg {
    font-size: 0.8em;
}

.scatterplot {
}

.scatterplot circle:hover, circle.brushed {
    stroke: black;
    stroke-width: 1;
    z-index: 500;
}

tr.brushed {
    background: red;
}

.axis line, .axis path{
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

.tooltip {
    position: absolute;
    background: white;
    border: 1px solid black;
    color: black;
    padding: 3px;
}

.brush {
    fill: silver;
    stroke: black;
    opacity: 0.7;
}

.histogram rect {
    fill: #EEEEFF;
    stroke: black;
    stroke-width: 1;
}